body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #111;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.heart {
  position: absolute;
  font-size: 24px;
  animation: pop 2s linear forwards;
}

@keyframes pop {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px) scale(2);
    opacity: 0;
  }
}
